@media only screen and (max-width: 1200px) {
    .News {
        position: absolute;
        width: 936px;
        height: 2000px;
        top: 0px;
        left: 10%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Stats {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 172px;
        top: 0px;
    }
}

@media only screen and (max-width: 992px) {
    .News {
        position: absolute;
        width: 1060px;
        height: 2000px;
        top: 0px;
        left: -33px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Stats {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 111px;
        top: 0px;
    }

    .TopLogo {
        position: absolute;
        width: 836px;
        height: 79px;
        left: 114px;
        top: 17px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        position: absolute;
        width: 950px;
        height: 1730px;
        left: 7%;
        z-index: 1;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        position: absolute;
        width: 301px;
        height: 368px;
        left: 135px;
        top: 120px;
        z-index: 1;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Text {
        position: absolute;
        width: 555px;
        height: 49px;
        left: 1px;
        top: 14px;
        z-index: 1;
    
        
        font-family: 'Manrope';
        font-size: 20px;
        
        color: #353333;
        }

    .Text2 {
        position: absolute;
        width: 578px;
        height: 49px;
        left: 2px;
        top: 3px;
        z-index: 1;

        
        font-family: 'Manrope';
        font-size: 20px;
        
        color: #353333;
        }

        .Text3 {
            position: absolute;
            width: 485px;
            height: 49px;
            left: 2px;
            top: 5px;
            z-index: 1;

            
            font-family: 'Manrope';
            font-size: 20px;
            
            color: #353333;
            }
}

@media only screen and (max-width: 768px) {
    .News {
        position: absolute;
        width: 1060px;
        height: 2000px;
        top: 0px;
        left: -33px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Stats {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 111px;
        top: 0px;
    }

    .TopLogo {
        position: absolute;
        width: 836px;
        height: 79px;
        left: 158px;
        top: 17px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        position: absolute;
        width: 642px;
        height: 1730px;
        left: 130px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

@media only screen and (min-width: 320px) {

}